@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow+Semi+Condensed:ital,wght@0,500;1,300&family=Charm&family=Cormorant:wght@300&family=Freehand&family=Fuggles&family=Island+Moments&family=Josefin+Sans&family=Kalam:wght@300&family=Lobster&family=Nabla&family=Noto+Serif+HK:wght@200;900&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100&family=Source+Serif+Pro:ital,wght@0,200;0,400;1,300&family=Stick+No+Bills&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow+Semi+Condensed:ital,wght@0,500;1,300&family=Charm&family=Cormorant:wght@300&family=Fuggles&family=Island+Moments&family=Nabla&family=Noto+Serif+HK:wght@200;900&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100&family=Source+Serif+Pro:ital,wght@0,200;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barlow+Semi+Condensed:ital,wght@0,500;1,300&family=Charm&family=Cormorant:wght@300&family=Freehand&family=Fuggles&family=Island+Moments&family=Lobster&family=Nabla&family=Noto+Serif+HK:wght@200;900&family=Open+Sans:ital,wght@1,300&family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100&family=Source+Serif+Pro:ital,wght@0,200;0,400;1,300&display=swap');

:root {
    /* font */
    --font-family: 'Kalam', cursive;
    --font-logo: 'Island Moments', cursive;
    --font-sidebar: 'Lobster', cursive;
    /* color */
    --blue: #00cfe8;
    --indigo: #6610f2;
    --purple: #7367f0;
    --pink: #e83e8c;
    --red: #ea5455;
    --orange: #ff9f43;
    --yellow: #ffc107;
    --green: #28c76f;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #b8c2cc;
    --gray-dark: #1e1e1e;
    --primary: #7367f0;
    --secondary: #82868b;
    --success: #28c76f;
    --info: #00cfe8;
    --warning: #ff9f43;
    --danger: #ea5455;
    --light: #f6f6f6;
    --dark: #4b4b4b;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    letter-spacing: 1.3px;
    word-spacing: 3px;
}

body {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
input {
    outline: none;
}

.logo {
    font-family: var(--font-logo);
}

.sidebar {
    font-family: var(--font-sidebar);
    letter-spacing: 2px;
    
}
